.navbar, footer {
	background-image: url(images1/seamless-animal.jpg);
}

body
{background-color: #FFEEDE;
}

.nav-link, .navbar-brand
{
	color:black;
	font-family: Optima, Arial, sans-serif;
	font-size: 20px;
}
h2
{
	font-family: Optima, Arial, sans-serif;
	background-color: #FFE5CB;
	font-size: 24px;
}
#about p
{
	font-family: georgina, Arial, sans-serif;
	font-size: 15px;
}

p
{
	font-family: Georgia, Arial, sans-serif;
	font-size: 5px;
}


.hero-image {
		
		  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images1/cats.jpg");
		  height: 100%;
		  padding-top: 400px;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		  position: relative;
}
.GFG {
            background-color: white;
            font-family: georgia, Arial, sans-serif;
            border: 2px solid black;
            color: sandybrown;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration:none;
        }


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.carousel-item img {
    width: 650px;
    height: 450px;
